# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.exe*
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# pkg/
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
.DS_Store

# API client files
.postman/

# Local .terraform directories (contains downloaded providers and modules)
.terraform/

# Terraform state files (Do NOT commit local state; use a remote backend instead)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude all variable snapshot files (often contain secrets)
*.tfvars
*.tfvars.json

# Ignore override files (used for local-only tweaks)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files (can contain sensitive data and are environment-specific)
*.tfplan

buf.lock